{:aliases {:dev  {:extra-deps  {org.clojure/clojure {:mvn/version "1.12.5"}}
                  :extra-paths ["development/src"]}
           :poly {:extra-deps {polylith/clj-poly {:mvn/version "0.3.32"}}
                  :jvm-opts   ["--enable-native-access=ALL-UNNAMED"]
                  :main-opts  ["-m" "polylith.clj.core.poly-cli.core"]}
           :test {:extra-paths []}}
 :deps    {com.antithesis/ffi {:mvn/version "1.5.0"}
           metosin/jsonista   {:mvn/version "1.0.0"}
           metosin/malli      {:mvn/version "0.20.1"}}}
